<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body id="body">
    <div id="box">{{message}}
    <h1 v-if="seen">{{name}}</h1>
    <h2 v-bind:title="name">鼠标悬停</h2>
    <!-- <ul>
        <li v-for="(val,key) in ary">{{val}}</li>
    </ul> -->

    <!-- <ul>
        <li v-if="type==='A'">A</li>
        <li v-else-if ="type==='B'">B</li>
        <li v-else-if="type ==='C'">C</li>
    </ul> -->
    <ul>
        <li v-for=""></li>
        <li></li>
        <li></li>
    </ul>
    <button v-on:click="cli">点击变色</button>

</div>
    <script src="./vue.js"></script>

    <script>
        
   let aa =  new Vue ({
        el:"#box",
        data:{
            message:"HAHA",
            name:'张三',
            ary:[1,2,3],
            seen:true,
            type:'',
            
        },
        methods:{
            cli:function(){
                body.style.background='red'
            }
        }
    })
    setTimeout(()=>{
        aa.ary.push(4)
    })

    </script>
</body>
</html>