body{
    background: sienna;
}
#box{
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background: skyblue;
    border-radius: 50%;
}
#box:hover{
    background-color: springgreen;
}